<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.liaction.ym23.flutter.plugin.biometric.ym23_flutter_plugin_biometric_example">
    <!-- Flutter needs it to communicate with the running application
         to allow setting breakpoints, to provide hot reload, etc.
    -->
    <uses-permission android:name="android.permission.INTERNET"/>
</manifest>
